<footer>
        <div class="container d-f justify-between align-center mb-24">
            <div class="footer-left">
                <a href="index.html"><img src="../assets/images/logo.svg" alt="Logo" title="URBNSTEP Logo"></a>
            </div>
            <div class="footre-right ">
                <ul class="d-f py-12">
                    <li class="me-40"><a href="list.html">商品列表</a></li>
                    <li><a href="about.html">品牌故事</a></li>
                </ul>
            </div>
        </div>
            <ul class="Copyright container text-sm mb-64">
                <li class="pt-32 pb-4 border-top">Copyright ©2025 URBNSTYLE</li>
                <li>All Rights Reserved.</li>
            </ul>
  </footer>