<footer>
        <div class="container d-f justify-between align-center mb-24 fxd-c-sm justify-star-sm align-start-sm">
            <div class="footer-left">
                <a href="index.html"><img src="../assets/images/logo.svg" alt="Logo" title="URBNSTEP Logo"></a>
            </div>
            <div class="footre-right">
                <ul class="d-f fxd-c-sm">
                    <li class="py-12 ms-12-sm me-40 me-0-sm mb-4-sm"><a href="list.html">商品列表</a></li>
                    <li class="py-12 ms-12-sm"><a href="about.html">品牌故事</a></li>
                </ul>
            </div>
        </div>
            <ul class="Copyright container text-sm mb-64">
                <li class="pt-32 pb-4 border-top">Copyright ©2025 URBNSTYLE</li>
                <li>All Rights Reserved.</li>
            </ul>
  </footer>