<nav class="container py-16 d-f justify-between align-center">
        <div class="navber-lift">   
            <ul class="d-f align-center">
                <li class="me-48">
                    <a href="index.html"><img src="../assets/images/logo.svg" alt="Logo" title="URBNSTEP Logo"></a>
                </li>
                <li class="me-40 py-12"><a href="list.html">商品列表</a></li>
                <li><a href="about.html">品牌故事</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <a href="#" class="p-12"><i class="bi bi-person"></i></a>
        </div>
</nav>