.header {
	background-image: url('../images/hero.png');
	background-size: cover;/*圖片長寬*/
    background-position: center;/*垂直置中*/
    background-repeat: no-repeat;/*圖片不重覆*/
	color: var(--neutral-0);
	padding-top: 151px;
	padding-bottom: 151px;
}

@media (max-width:767px){


	.header-md {
		padding-top: 87px;
		padding-bottom: 87px;
		background-image: url('../images/week3-4/hero-sm.png');
	}
}

.article {
	text-align: center;
	background-color:var(--primary-100);
}

.border-bottom {
	border-bottom: 1px solid var(--neutral-300);/*bdt+*/
}

.ul-disc {
	list-style:disc;
    margin-left: 1.5em;
}

.ul-border {
	border-left:3px solid var(--neutral-300);
	padding-left: 12px;
}

.ul-border-a {
	padding-bottom: 4px;
	border-bottom: 1px solid var(--primary-400);
}



