/*引入字體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css變數進行網站主色設定*/
:root {
	--primary-100:#F5FEE7;
    --primary-200:#E8FEC5;
	--primary-300:#C0FA73;/*Default預設及Hover background-color */
	--primary-400:#57A203;/*css變數進行網站主色設定*/
	--primary-500:#477A11;/*Hover color*/
	--neutral-0:#FFFFFF;
	--neutral-100:#F8F9FA;
	--neutral-200:#E9ECEF;
	--neutral-300:#DEE2E6;
	--neutral-400:#CED4DA;
	--neutral-500:#ADB5BD;/*css變數進行網站主色設定*/
	--neutral-600:#6C757D;/*css變數進行網站主色設定*/
	--neutral-700:#495057;
	--neutral-800:#343A40;
	--neutral-900:#212529;/*Default預設*/
	--danger-300:#D74F4F;
}
/*標籤基本樣式*/

*,*::before,*::after{
    box-sizing: border-box;/*bxz:bb*/
	/*outline: solid 1px;測試範圍用*/
}

body {
    font-family: "Noto Sans TC", sans-serif;/*ff 改變全部字型符合設計稿*/
    font-size: 16px;/*大小 fz*/
    line-height:1.5;/*行高 lh*/
    letter-spacing:0.05em;/*字距 lts*/
	/*font-weight: 400;多數字重為400，預設為400可以不用設定*/
	color: var(--neutral-900);

}

img {
	/*img預設為行內元素，會受到基準線對齊的影響*/
    /*display: block;變成區塊元素可解決；調整基線對齊的方式，副作用比較少*/
    vertical-align: middle;/*控制 行內元素（inline 或 inline-block 元素） middle為中間對齊 va:m*/
	max-width: 100%;/*RwD要這樣設定->max*/
	height: auto;
}

@media (max-width:767px){
	img {
		max-width: 100%;
		height: auto;
	}
}

@media (max-width:375px){
	img {
		max-width: 100%;
		height: auto;
	}
}

a {
	color: var(--neutral-900);
    text-decoration: none;/*td:n*/
    display: block;/*db*/
	font-weight: 500;/*fw*/
}
 
/*通用樣式*/
.container{
	max-width: 1320px;/*RwD要這樣設定->max 因為盒模型左右加了12px所以width要加24px撐開*/
	margin: 0 auto;
	padding-left: 12px;/*RWD留邊*/
	padding-right: 12px;/*RWD留邊*/
	
}


.row {/*父層排列樣式，因為欄位有推12px，所以要減12px)*/
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}

.col-1 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12);/*欄位樣式，100%除12欄(設計槁shift+G)*/
}

.col-2 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 2);/*欄位樣式，100%除12欄(設計槁shift+G)，乘2就是佔2個欄位寬度*/
}

.col-3 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 3);/*欄位樣式，100%除12欄(設計槁shift+G)，乘3就是佔3個欄位寬度*/
}

.col-4 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 4);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-5 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 5);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-6 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 6);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-7 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 7);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-8 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 8);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-9{
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 9);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-10 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 10);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-11 {
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% / 12 * 11);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.col-12 {
	padding-right: 12px;
	padding-left: 12px;
	width: 100%;/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
}

.w-100 {
	width: 100%;
}

@media (max-width:767px){/*裝置小於767套用*/
	.row {/*父層排列樣式，因為欄位有推12px，所以要減12px)*/
		margin-right: -6px;
		margin-left: -6px;
	}

	.col-md-1 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 1);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-md-2 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 2);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-md-3 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 3);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-md-4 {
		padding-right: 6px;
		padding-left: 6px;
		width: 100%;
	}

	
}

@media (max-width:375px){/*裝置小於767套用*/
	.row {/*父層排列樣式，因為欄位有推12px，所以要減12px)*/
		margin-right: -6px;
		margin-left: -6px;
	}

	.col-sm-1 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 1);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-sm-2 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 2);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-sm-3 {
		padding-right: 6px;
		padding-left: 6px;
		width: calc(100% / 4 * 3);/*欄位樣式，100%除12欄(設計槁shift+G)，乘n就是佔n個欄位寬度*/
	}

	.col-sm-4 {
		padding-right: 6px;
		padding-left: 6px;
		width: 100%;
	}

	
}

.main-h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
}

.h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
}

.h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}

.h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.h5 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}

.h6 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
}



@media (max-width:767px){/*裝置小於767套用*/

	.main-md-h1.main-md-h1 {
		font-size: 32px;
	}

	.h3-md {
		font-size: 28px;
	}
	.h4-md {
		font-size: 24px;
	}
	.h5-md {
		font-size: 20px;
	}
	.h6-md.h6-md {
		font-size: 16px;
	}
	.text-md.text-md {
		font-size: 14px;
	}
}

@media (max-width:375px){/*裝置小於375套用*/

	.main-sm-h1.main-sm-h1 {
		font-size: 32px;
	}

	.h3-sm {
		font-size: 28px;
	}
	.h4-sm {
		font-size: 24px;
	}
	.h5-sm {
		font-size: 20px;
	}
	.h6-sm.h6-sm {
		font-size: 16px;
	}
	.text-sm {
		font-size: 14px;
	}
}

.text-sm {
	font-size: 14px;
}

.text-neutral-0 {
	color: var(--neutral-0);
}

.text-neutral-500.text-neutral-500 {
	color: var(--neutral-500);
}

.text-neutral-600 {
	color: var(--neutral-600);
}

.text-primary-300.text-primary-300 {
	color: var(--primary-300);
}

.text-primary-400 {
	color: var(--primary-400);
}

.text-danger {
	color: var(--danger-300);
}

.bg-primary-100 {
	background: var(--primary-100);
}

.bg-primary-200 {
	background: var(--primary-200);
}

.bg-neutral-100 {
	background: var(--neutral-100);
}

.p-12 {
	padding: 12px;
}

.p-32 {
	padding: 32px;
}

.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.py-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.py-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}

.py-48 {
	padding-top: 48px;
	padding-bottom: 48px;
}

.py-64 {/*通常距離設計會是4跟8的倍數，所以也可以統一py-64->py-16*/
	padding-top: 64px;
	padding-bottom: 64px;
}

.pt-32 {
	padding-top: 32px;
}

.pb-4 {
	padding-bottom: 4px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pb-48 {
	padding-bottom: 48px;
}

.pb-64 {
	padding-bottom: 64px;
}

.pe-4 {
	padding-right: 4px;
}

.pe-8 {
	padding-right: 8px;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-32 {
	margin-bottom: 32px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-48 {
	margin-bottom: 48px;
}

.mb-64 {
	margin-bottom: 64px;
}

.my-48 {
	margin-top: 48px;
	margin-bottom: 48px;
}

.my-64 {
	margin-top: 64px;
	margin-bottom: 64px;
}

.me-8 {
	margin-right: 8px;
}

.me-12 {
	margin-right: 12px;
}

.me-16 {
	margin-right: 16px;
}

.me-24 {
	margin-right: 24px;
}

.me-40 {
	margin-right: 40px;
}

.me-48 {
	margin-right: 48px;
}

.ms-16 {
	margin-left: 16px;
}

.gap-8 {
	gap: 8px;
}

@media (max-width:767px){/*裝置小於767套用*/
	.p-24-md {
		padding: 24px;
	}

	.py-0-md {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.py-16-md {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.py-40-md {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.pb-0-md {
		padding-bottom: 0px;
	}

	.pb-8-md {
		padding-bottom: 8px;
	}

	.pb-12-md {
		padding-bottom: 12px;
	}
	
	.pb-16-md {
		padding-bottom: 16px;
	}

	.pb-24-md {
		padding-bottom: 24px;
	}

	.pb-32-md {
		padding-bottom: 32px;
	}

	.pb-40-md {
		padding-bottom: 40px;
	}

	.mb-0-md {
		margin-bottom: 0px;
	}

	.mb-8-md{
		margin-bottom: 8px;
	}

	.mb-12-md {
		margin-bottom: 12px;
	}

	.mb-16-md {
		margin-bottom: 16px;
	}

	.mb-24-md {
		margin-bottom: 24px;
	}

	.mb-32-md {
		margin-bottom: 32px;
	}

	.mb-40-md {
		margin-bottom: 40px;
	}

	.my-64-md {
		margin-top: 64px;
		margin-bottom: 64px;
	}

	.my-24-md {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.my-0-mb {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.me-0-md {
		margin-right: 0px;
	}

	.me-8-md  {
		margin-right: 8px;
	}

	.me-12-md  {
		margin-right: 12px;
	}

	.me-24-md  {
		margin-right: 24px;
	}

	.me-40-md  {
		margin-right: 40px;
	}

	.me-48-md  {
		margin-right: 48px;
	}
}

@media (max-width:375px){/*裝置小於375套用*/
	.ms-12-sm {
		margin-left: 12px;
	}

	.py-0-sm {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.py-16-sm {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.pb-0-sm {
		padding-bottom: 0px;
	}

	.pb-8-sm {
		padding-bottom: 8px;
	}
	
	.pb-16-sm {
		padding-bottom: 16px;
	}

	.pb-24-sm {
		padding-bottom: 24px;
	}

	.pb-32-sm {
		padding-bottom: 32px;
	}

	.pb-40-sm {
		padding-bottom: 40px;
	}

	.mb-0-sm.mb-0-sm {
		margin-bottom: 0px;
	}

	.mb-4-sm {
		margin-bottom: 4px;
	}

	.mb-8-sm {
		margin-bottom: 8px;
	}

	.mb-12-sm {
		margin-bottom: 12px;
	}

	.mb-16-sm {
		margin-bottom: 16px;
	}

	.mb-24-sm {
		margin-bottom: 24px;
	}

	.mb-32-sm {
		margin-bottom: 32px;
	}

	.mb-40-sm {
		margin-bottom: 40px;
	}

	.my-64-sm {
		margin-top: 64px;
		margin-bottom: 64px;
	}

	.me-0-sm {
		margin-right: 0px;
	}

	.me-8-sm  {
		margin-right: 8px;
	}

	.me-12-sm  {
		margin-right: 12px;
	}

	.me-16-sm  {
		margin-right: 16px;
	}

	.me-24-sm  {
		margin-right: 24px;
	}

	.me-40-sm  {
		margin-right: 40px;
	}

	.me-48-sm  {
		margin-right: 48px;
	}
}


/*display: flex*/
.d-f {
    display: flex; 
}

.d-n {
	display: none;
}

.d-b {
		display: block;
	}

.justify-between {
	justify-content:space-between;/*jcsb*/
}

.justify-center {
	justify-content: center;/*主軸置中 jc:c*/
}

.align-center {
	align-items: center;/*交錯軸置中 aic*/
}

.align-start {
	align-items: flex-start;/*交錯軸置中 aic*/
}

.align-end {
	align-items:flex-end;/*交錯軸end aife*/
}

.flex-wrap {
	flex-wrap: wrap;/*換行*/
	
}

.fxd-c {
	flex-direction: column;/*垂直*/
}

.text-center {
	text-align: center;
}

.text-start {
	text-align:start;
}

.flex-fill {
	flex: 1 1 auto;/*自動填滿空間*/
}

.flex-grow {
	flex-grow:1;
	flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

@media (max-width:767px){/*裝置小於767套用*/
	.fxd-c-md {
		flex-direction: column;/*垂直*/
	}

	.align-center-md {
	align-items: center;/*交錯軸置中 aic*/
	}

	.d-b-md {
		display: block;
	}

	.d-f-md {
		display: flex;
	}

	.d-n-md {
        display: none;
    }

	.justify-center-md {
	    justify-content: center;/*主軸置中 jc:c*/
    }

	.justify-start-md {
		justify-content: start;
	}

	.text-start-md {
	text-align: start;
	}

}

@media (max-width:375px){/*裝置小於375套用*/
	.fxd-c-sm {
		flex-direction: column;/*垂直*/
	}

	.d-b-sm {
		display: block;
	}

	.d-f-sm {
		display: flex;
	}

	.d-n-sm {
        display: none;
    }

	.justify-star-sm {
		justify-content: start;/*主軸start jc:s*/
	}
	
	.align-start-sm {
		align-items: flex-start;/*交錯軸start aife*/
	}

	.justify-center-sm {
	    justify-content: center;/*主軸置中 jc:c*/
    }
}

/*Button*/
.btn {
	font-family: "Noto Sans TC", sans-serif;/*ff 改變全部字型符合設計稿*/
	font-size: 16px;/*fz*/
	font-weight: 500;/*fw*/
	line-height: 1.5;/*lh*/
	border: none;/*bdn*/
	background-color: transparent;/*bgc:t 透明*/
	border-radius: 4px;/*bdrs*/
	padding: 12px 24px;/*p*/
	cursor: pointer;/*cur:p*/
	/*default: 顯示預設的游標，通常是箭頭。 
	auto: 讓瀏覽器自動判斷游標樣式。 
	crosshair: 顯示十字線，常用於選擇或標記。 
	pointer: 顯示手型，通常用於連結或可點擊的元素。 
	text: 顯示文字輸入游標，例如在輸入框中。 
	move: 顯示移動游標，用於移動元素。 
	progress: 表示程式正在處理中，但用戶仍可與其他元素互動。 
	wait: 表示程式正在忙碌中，用戶不可與其他元素互動。 
	help: 顯示問號，表示有幫助資訊。 
	not-allowed: 表示不允許的操作。 
	url(): 可以指定一個URL 來使用自定義的游標圖片，例如 cursor: url("my-cursor.png"), auto;，如果瀏覽器不支持自定義圖片，則會使用 auto 提供的游標。 */

}

/*元件*/
.breadcrumb-item + .breadcrumb-item::before {
	content: '/';
	padding: 0 12px;
	color: var(--neutral-300);
	font-weight: 700;
}

@media (max-width:375px){/*裝置小於375套用*/
	.breadcrumb-item + .breadcrumb-item::before {
		padding: 0 0px;
	}

}

.breadcrumb-item {
	display: flex;
	font-weight: 500;
}

.breadcrumb-link {
	color: var(--neutral-600);	
}

.btn-bark{
	background: var(--neutral-900);
	color: var(--neutral-0);
}



.btn-bark:hover {
	background: var(--neutral-700);
}

.btn-disabled {
    cursor: default;
	pointer-events: none;/*防止滑鼠事件（如 click / hover）*/
}

.btn-primary-200 {
	background: var(--primary-200);
}

.btn-primary-100 {
	background: var(--primary-100);
}

.Copyright {
	text-align: center;/*ta:c*/
	color: var(--neutral-600);
}

.border-top {
	border-top: 1px solid var(--neutral-300);/*bdt+*/
}

.border-bottom {
	border-bottom: 1px solid var(--neutral-300);/*bdt+*/
}
