/*助教版產品圖*/
.product-row {
    margin-right: -4px;
    margin-left: -4px;
    display: flex;
    flex-wrap: wrap;/*fxw:w*/
}

.product-col {
    width: calc(100% / 12 * 6);
    padding-right: 4px;
    padding-left: 4px;
}

@media (max-width:992px) {
    .btn-lg {
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (max-width:767px){
    .product-col-scroll {
        min-width: 375px;
        padding-left: 8px;
        padding-right: 8px;
    }

}

.text-stytle {
    color: var(--neutral-500);
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
}

/*商品顏色*/
.product-stytle {
    width: 64px;
    text-align: center;
    color: var(--neutral-600);
}

.product-stytle:hover {
    color: var(--neutral-900);
}

/*商品尺吋*/
.btn-wrapper {
    border: 1px solid var(--neutral-300);
    width: 160px;
}

.btn-wrapper:active,
.btn-wrapper:hover {
    border: 1px solid var(--neutral-900);
}

.btn-a-size {
    width: 50%;
}

.btn-size {
    width: 100%;
}

@media (max-width:767px){
    .a-heart-md{
        order: 1;
        width: 16%;
    }

    .a-handbag-md{
        width: 84%;
    }
}

.btn-900 {
    border: 1px solid var(--neutral-900);

}

.btn-900:hover {
    border: 1px solid var(--neutral-700);
    color: var(--neutral-700);
}

/*商品說明*/
.text-fw {
	font-weight: 500;
}

.border-bottom {
	border-bottom: 1px solid var(--neutral-300);/*bdt+*/
}

i {
    width: 20px;
    height: 20px;
}