.product-row {
    margin: 0 -4px;
    display: flex;
    flex-wrap: wrap;/*fxw:w*/
}

.product-col {
    width: calc(100% / 12 * 6);
    padding: 0 4px;
}

.text-stytle {
    color: var(--neutral-500);
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
}

/*商品顏色*/
.product-stytle {
    width: 64px;
    text-align: center;
    color: var(--neutral-600);
    font-weight: 500;
    border: none;/*bdn*/
	background-color: transparent;/*bgc:t 透明*/
    cursor: pointer;/*cur:p*/
}

.product-stytle:hover {
    color: var(--neutral-900);
}

/*商品尺吋*/
.btn-wrapper {
    border: 1px solid var(--neutral-300);
    width: 160px;
}

.btn-wrapper:active,
.btn-wrapper:hover {
    border: 1px solid var(--neutral-900);
}

.btn-size {
    width: 259px;
}

.btn-900 {
    border: 1px solid var(--neutral-900);

}

.btn-900:hover {
    border: 1px solid var(--neutral-700);
    color: var(--neutral-700);
}

/*商品說明*/
.text-fw {
	font-weight: 500;
}

.border-bottom {
	border-bottom: 1px solid var(--neutral-300);/*bdt+*/
}

i {
    width: 20px;
    height: 20px;
}