.navbar {
    background-image: url(../images/week3-4/banner.png);/*bgi*/
    background-size: cover;/*圖片長寬 bgsz:cv*/
    background-position: center;/*垂直置中*/
    background-repeat: no-repeat;/*圖片不重覆*/
    padding-top: 289px;
    padding-bottom: 289px;
    
}

.text-center.text-center {
    text-align: center;/*ta:c*/
}

.barbox {
    padding-left: 200px;
}

.bar-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}

.btn-Primary{
	background: var(--primary-300);
    width: 115px;
}

.btn-Primary:hover {
    color: var(--primary-500);
}

.Badge-Small {
    background-color: var(--primary-100);
    color: var(--primary-400);
    padding: 8px 12px;
    padding-right: -12px;
}

.position-relative {
    position:relative;
}

.position-absolute {
    position: absolute;
    top: 0px;

}

.section-sale {
    background-image: url(../images/week3-4/banner-co-branded.png);
    background-size: cover;
    background-position: center;/*垂直置中*/
    background-repeat: no-repeat;/*圖片不重覆*/
    padding-top: 100px;
}

.h5-lh-150 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}

.mb-84 {
    margin-bottom: 84px;
}

.nav-link {
    color: var(--neutral-400);
}

.nav-item {
    background-color:var(--Neutral-600);
}

.btn-page {
	border: none;/*bdn*/
	background-color: var(--neutral-400);
	border-radius: 99em;/*bdrs*/
	padding: 4px 4px;/*p*/
	cursor: pointer;/*cur:p變手指*/
}

.btn-page-hover {
    border: none;/*bdn*/
    background-color:var(--neutral-600);
    border-radius: 99em;/*bdrs*/
    padding: 4px 12px;/*p*/
    cursor: pointer;/*cur:p*/
    
}

.btn-page:active,
.btn-page:hover {
    background-color:var(--neutral-600);
    padding: 4px 12px;/*p*/
}

.card-relative {
    position:relative;
}

.card-relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 黑色半透明遮罩 */
}

.card-absolute {
    position: absolute;
    white-space: nowrap; /*不換行*/
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-relative:hover::before {
  background-color: rgba(0, 0, 0, 0.1); /* 滑鼠移上時變淺 */
}

.card-relative:hover .text-color {
    color: var(--primary-300);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap:8px;
    grid-column-gap:8px;
}

.p-4 {
    padding: 4px;
}

.card-grid-m {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:3;
}

.card-grid-s {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:4;
    
}
/*解決842px左右字體"依系列選購"破版問題*/
@media (max-width:992px) {
    .main-md-h1.main-md-h1 {
		font-size: 32px;
	}

	.h3-md {
		font-size: 28px;
	}
	.h4-md {
		font-size: 24px;
	}
	.h5-md {
		font-size: 20px;
	}
	.h6-md.h6-md {
		font-size: 16px;
	}
	.text-md {
		font-size: 14px;
	}
}

@media (max-width:767px) {
    .d-f-md {
        display: flex;
    }

    .d-n-md {
        display: none;
    }

    .justify-center-md {
	    justify-content: center;/*主軸置中 jc:c*/
    }

    .navbar {
        padding-top: 155px;
        padding-bottom: 155px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .barbox {
        padding-left: 0px;
    }

    .bar-text-md {
        font-size: 48px;
    }

    .section-sale-md{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    /*熱銷補貨項目滑動效果*/
    .row-md-scroll {
        margin-right: -8px;
        margin-left: -8px;
    }

    .col-md-scroll {
        min-width: 316px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .scroll-x-md {
        flex-wrap: nowrap;     /* 等同 flex-nowrap */
        overflow-x: auto;      /* 水平可滾動 */
        white-space: nowrap;   /* 水平排列內容不換行（適用於 inline-block 或 text） */
    }

    .card-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap:0px;
    grid-column-gap:0px;
    }

    .card-grid-m {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    }

    .card-grid-s {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    
    }
}

@media (max-width:576px) {
    .d-f-sm {
        display: flex;
    }

    .d-n-sm {
        display: none;
    }

    .justify-center-sm {
	    justify-content: center;/*主軸置中 jc:c*/
    }

    .navbar {
        padding-top: 155px;
        padding-bottom: 155px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .barbox {
        padding-left: 0px;
    }

    .bar-text-sm {
    font-size: 48px;
    }

    .section-sale-sm{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}